<div id="support-block" class="c-support">
	<div class="c-support--content">
		<div id="search-form">
				<form class="servicenow-search-form" data-drupal-selector="servicenow-search-form" action="/support" method="post" id="servicenow-search-form--ClojZuObaIk" accept-charset="UTF-8" novalidate="">
					<div class="c-support__search">
						<div class="c-form-item c-form-item--id-keywords js-form-item js-form-type-textfield js-form-item-keywords"> 
					    <input autocomplete="off" placeholder="Search the knowledge base" data-drupal-selector="edit-keywords" type="text" id="edit-keywords" name="keywords" value="how" size="60" maxlength="64" class="c-form-item__text c-section-search__input" data-once="drupal-ajax">
					  </div>

					  <div id="search-results" data-drupal-selector="edit-results" class="js-form-wrapper"> </div>

					  <input autocomplete="off" data-drupal-selector="form-dizpyc-ldee2fevd8wbkyx-sk0fycagras-smtkp7eq" type="hidden" name="form_build_id" value="form-DizPyc_LDEe2FEvd8wbKyX_Sk0FyCAGRas-SMtKp7eQ" class="c-form-item__hidden"> 
					  <input data-drupal-selector="edit-servicenow-search-form-form-token" type="hidden" name="form_token" value="AnhnMlThtrGFOiCh4BX_-iwFecjHJqPZPCca--QUC_k" class="c-form-item__hidden">
					  <input data-drupal-selector="edit-servicenow-search-form" type="hidden" name="form_id" value="servicenow_search_form" class="c-form-item__hidden">
  					<button class="submit"></button>
				</div>
			</form>
		</div>
		<label class="c-support__label">
			<b>34</b>
			results found for "<b>how</b>"</label>
		<div id="articles" class="c-support__articles">
			<div class="c-support__category">
				<h2>General</h2>
				<ul>
					<li>
						<a href="/support/KB0011739">How to book the Panofsky Auditorium?</a>
					</li>
					<li>
						<a href="/support/KB0011043">How to check your ServiceNow ticket status</a>
					</li>
					<li>
						<a href="/support/KB0010989">How to Purchase Centrally Supported Computer Hardware</a>
					</li>
					<li>
						<a href="/support/KB0011924">Learn how to use Condeco</a>
					</li>
					<li>
						<a href="/support/KB0011765">How to Install missing EPICs fonts on Ubuntu</a>
					</li>
					<li>
						<a href="/support/KB0011848">How to forward SLAC Emails to another Email address</a>
					</li>
					<li>
						<a href="/support/KB0012245">How to Login to Google Drive</a>
					</li>
					<li>
						<a href="/support/KB0011999">How to map Network Drives (V:, K:, etc.) when connected to SLAC VPN</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011569">OneDrive: How to Control Which Files and Folders Sync From the Cloud to Your Computer</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011112">How to Create a Spam Filter in Office365 Webmail</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011571">How to Find Slack Workspace Administrators
						</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011987">How to enable SLAC Cardinal Key for Firefox version 75+ on macOS</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011017">How to Delegate ServiceNow approvals and tasks to another user</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011644">How to Share a Folder in OneDrive on the PC</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011080">How Secure Email Works</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011104">How to Reset Your Secure Email Password</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011880">How to install the  Management Walk Around (MWA) application on your phone</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011642">How to Order Custom Centrally Supported Computer Hardware
						</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011660">How to Take CS203</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011081">How to Send and Receive Secure Email</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011626">How to Change the Interval of Email that PC Outlook Syncs in Exchange</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011943">How to install and use Progressive Web Apps (PWA) on Ubuntu</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011462">How to Forward Your Stanford Email to Your SLAC Email</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011181">How to Obtain a Quote for a Non-catalog Item in GSS
						</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011988">How to enable Cardinal Key for Firefox Version 72 or Greater on Windows 10</a>
					</li>
					<li style="display: none;">
						<a href="/support/KB0011712">How To Proccess A Dell Repair Quote</a>
					</li>
				</ul>
				<p class="c-support__more" style="display: block;">More</p>
			</div>
			<div class="c-support__category">
				<h2>Email, Calendar and IM</h2>
				<ul>
					<li>
						<a href="/support/KB0011829">How to remove a Microsoft Teams meeting link from a calendar invite</a>
					</li>
					<li>
						<a href="/support/KB0011830">How to Configure your Calendar Meeting Provider - Office365 / Microsoft Outlook</a>
					</li>
				</ul>
				<p class="c-support__more">More</p>
			</div>
			<div class="c-support__category">
				<h2>UNIX Systems and Software</h2>
				<ul>
					<li>
						<a href="/support/KB0011427">How To Install AMD Radeon Video Driver/Kernel Module With OpenCL</a>
					</li>
					<li>
						<a href="/support/KB0011426">How To Install NVIDIA Video Driver/Kernel Module With CUDA</a>
					</li>
				</ul>
				<p class="c-support__more">More</p>
			</div>
			<div class="c-support__category">
				<h2>Applications</h2>
				<ul>
					<li>
						<a href="/support/KB0011555">How to migrate to Microsoft 365</a>
					</li>
				</ul>
				<p class="c-support__more">More</p>
			</div>
			<div class="c-support__category">
				<h2>Desktop</h2>
				<ul>
					<li>
						<a href="/support/KB0010688">Duo for Endpoints at SLAC: Why What Who How</a>
					</li>
				</ul>
				<p class="c-support__more">More</p>
			</div>
			<div class="c-support__category">
				<h2>Email</h2>
				<ul>
					<li>
						<a href="/support/KB0011662">How to Add Additional Mailbox to Outlook 2016</a>
					</li>
				</ul>
				<p class="c-support__more">More</p>
			</div>
			<div class="c-support__category">
				<h2>Software at SLAC</h2>
				<ul>
					<li>
						<a href="/support/KB0011638">How to Request a Teamcenter License
						</a>
					</li>
				</ul>
				<p class="c-support__more">More</p>
			</div>
		</div>
	</div>
</div>
